.form-groupModif {
  margin-left: 0px !important;
  margin-bottom: 5px !important;
}
.controlTextModif{
  text-align: left !important;
  padding-left: 0% !important;
}

.btnDefaultModif{
  border-color: #ccc;
}

.modal-content{
  width: 300px;
}

.color-compta-back,
.color-compta-back:focus,
.color-compta-back:hover{
  background-color: #f0ad4e !important;
}
.color-compta-border,
.color-compta-border:focus,
.color-compta-border:hover{
  border-color: #f0ad4e !important;
}

.color-compta,
.color-compta:focus,
.color-compta:hover {
  color: #f0ad4e;
}

.color-compta > li.active > a,
.color-compta  > li.active > a:hover,
.color-compta  > li.active > a:focus{
  color: #fff;
  background-color: #f0ad4e;
}

.label-white{
  color: #ffffff !important;
}
